In [32]:
# Pandas - Series
import pandas as pd

growth = pd.Series([143,150,157,160], index = ["2018", "2019", "2020", "2020"])
growth
growth["2018"]

2018    143
2019    150
2020    157
2020    160
dtype: int64

In [16]:
growth = pd.Series([143,150,157,160])  #뒤에 인덱스값없으면 리스트처럼 나옴
growth
growth[0]

143

In [38]:
# Pandas - DataFrame
## 방법1 - 데이터 생성 후 바로 넣기
index=["2018", "2019", "2020", "2021"]
data = {
    "영희" : [143, 150, 157, 160],
    "철수" : [165, 172, 175, 180]
}
growth = pd.DataFrame(data, columns=["영희", "철수"], index = index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [39]:
## 방법2 - 시리즈 만들어서 데이터프레임에 넣기
index=["2018", "2019", "2020", "2021"]
Y = pd.Series([143, 150, 157, 160], index=index)
C = pd.Series([165, 172, 175, 180], index=index)
growth = pd.DataFrame(data, index=index)
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [40]:
# Pandas - DataFrame - astype
print(growth.dtypes)
growth.astype("float")
growth.astype({"영희":"float"})

영희    int64
철수    int64
dtype: object

         영희   철수
2018  143.0  165
2019  150.0  172
2020  157.0  175
2021  160.0  180

In [45]:
# Pandas - 데이터 프레임에서 해당 칼럼만 select
growth["영희"]
growth.영희  #growth.영 희 -> 중간에 띄어쓰기있으면 안됨

2018    143
2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [47]:
growth["영희"][0]
growth["영희"][1:]  #리스트 슬라이싱도 가능

C:\Users\soeun\AppData\Local\Temp\ipykernel_9988\3023303548.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  growth["영희"][0]

2019    150
2020    157
2021    160
Name: 영희, dtype: int64

In [63]:
# Pandas - iloc -> 넘버 기반
growth.iloc[0]  #첫번째 행
growth.iloc[1]  #두번째 행
growth.iloc[[0,2],[0,1]]

       영희   철수
2018  143  165
2020  157  175

In [60]:
# Pandas - loc -> 메모리 기반
growth.loc["2020", "영희"]
growth.loc["2021"]
growth.loc[["2018", "2020"],["영희","철수"]]

       영희   철수
2018  143  165
2020  157  175

In [31]:
# Pandas - read_csv()
pd.read_csv("20241216.csv")
pd.read_csv("20241216.csv", index_col=0)

    A   B  C
0  30  21  9
1  11   2  3

In [36]:
#  Pandas - to_csv()
growth.to_csv("output.csv")
growth.to_csv("output.csv", index = False)

In [64]:
# Pandas - index
growth.set_index("영희")

      철수
영희
143  165
150  172
157  175
160  180

In [65]:
growth.loc[growth.영희>150]

       영희   철수
2020  157  175
2021  160  180

In [71]:
index=["영희", "철수"]
data = {
    "2018" : [143, 165],
    "2019" : [150, 172],
    "2020" : [157, 175],
    "2021" : [160, 180]
}
growth = pd.DataFrame(data, index = index)
growth

    2018  2019  2020  2021
영희   143   150   157   160
철수   165   172   175   180

In [72]:
growth["2019"] = 190
print(growth)

    2018  2019  2020  2021
영희   143   190   157   160
철수   165   190   175   180

In [6]:
import pandas as pd
growth = pd.Series([143,150,157,160], index=["2018","2019","2020","2021"])
growth
print(growth.values)
print(growth.values[0])
print(growth.index)
print(growth.index[0])

[143 150 157 160]
143
Index(['2018', '2019', '2020', '2021'], dtype='object')
2018